﻿{% extends "base.html" %}
{%block pagetitle %}Sobre l'aplicació web{% endblock %}
{%block htmlhead %}
{% endblock %}

{% block title %}Sobre l'aplicació web:{% endblock %}
{% block content %}
<div class="about">
<p>
La nostra aplicació web pretèn ser un mitjà que ens informa dels espais WIFI que hi ha a tota la província de Tarragona.  
D'aquesta manera i mitjançant aquesta aplicació totes les persones que no disposem de 3G o volem estalviar en kilobytes 
dels paquets contractats en les nostres operadores de telefonia mòbil tenim disponible una base de dades de punts d'accés per accedir a 
la xarxa Internet desde el nostre ordinador portàtil o dispositiu mòbil d'última generació i cercar en aquesta aplicació l'espai 
on ens interessi anar per connectar-nos a Internet.
</p>
<p>Al mateix temps que trobem tots els espais WIFI, també veiem quins d'aquests són establiments i quins són locals d'entitats públiques, 
com per exemple: bars, restaurants o biblioteques i en cadascun d'ells hi tenim una breu descripció del lloc, dels serveis que ofereix 
i el podem localitzar al mapa.
</p>
<p>
Si esteu interessats en anunciar la vostra empresa us podeu posar en contacte a través del correu electrònic: <a href="mailto:info@tarragonawifi.com" title="Correu de contacte i informació">info@tarragonawifi.com</a>.
</p>
<p>
També podeu seguir-nos a Twitter <a href="https://twitter.com/tarragonawifi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TarragonaWifi</a>
<!--script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script-->
</p>


<p>
Administració: Anna Pinyol<br>
Programació: Joan Maria Talarn<br>
</p>
</div>

{% endblock %}
