﻿{% extends "base.html" %}
{%block pagetitle %}Home{% endblock %}
{%block htmlhead %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=true"></script>
<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script-->
<link rel="stylesheet" type="text/css" href="/css/inputsearch.css" />
<script type="text/javascript" src="/js/inputsearch.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css" />

<link rel="stylesheet" type="text/css" href="/css/scoring.css" />
<script type="text/javascript" src="/js/scoring.js" ></script>
<!--script type="text/javascript" src="/js/social.js"></script-->
<!--link rel="stylesheet" type="text/css" href="/css/social.css" /-->

{% endblock %}

{% block title %}Busca els punts d'accés wifi per zona:{% endblock %}
{% block content %}
<script>
</script>
	<div id="searchbox">
	<input type="text" id="inputsearch" name="inputsearch" value="Escriu aquí per buscar..." class="notext searchbox"/>
	</div>
	<div id="results">

		<div id="listbox">
		{% if results %}
			<span id="location" style="display: none;">{{location}}</span>
			<span id="location_lat" style="display: none;">{{lat}}</span>
			<span id="location_long" style="display: none;">{{long}}</span>
		    <ul class="hotspots">
		    {% for hotspot in results %}
		        <li id="list_item{{forloop.counter}}" class="list_item">
			  <span id="name" class="name">{{hotspot.name}}</span>
			  			  <div class="scoring-parent">
			  <div class="scoring home" id="scoring">
				  <div title="Plena satisfacció! Pica aquí per donar-li suport" class="thumb up"><span id="score_pos" class="thumbtext">{{hotspot.score.score_pos}}</span></div>
				  <div title="Fracàs estrepitós! Pica aquí per donar l'avis" class="thumb down"><span id="score_neg" class="thumbtext">{{hotspot.score.score_neg}}</span></div>
			  </div>
			  </div>
			  <div class="social-buttons-parent">
			  <div class="social-buttons home">
			    <ul>
			      <li>
				<a href="https://twitter.com/share" 
				  data-url="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}" 
				  data-text="{{hotspot.name}} is a hotspot in " 
				  data-via="tarragonawifi" 
				  data-hashtags="tarragonawifi" 
				  data-count="horizontal" data-lang="en" class="twitter-share-button">Tweet</a>
			      </li>
			      <li>
				<g:plusone size="medium" annotation="inline" 
				  href="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}" width="120">
				</g:plusone>
			      </li>
			      <li>
				<div class="fb-like" 
				  data-href="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}"
				  data-send="false" data-layout="button_count" 
				  data-width="100" data-show-faces="false">
				</div>
			      </li>
			    </ul>
			  </div>
			  <span id="lat" style="display: none;">{{hotspot.lat}}</span>
			  <span id="long" style="display: none;">{{hotspot.long}}</span>
			  <span id="id" style="display:none;">{{hotspot.id}}</span>
			  <div class="more_info">{{hotspot.description|safe}}</div>

			</div>
		      </li>
		    {% endfor %}
		    </ul>
		{% else %}
			<p class="initialtext">
			La nostra aplicació web ens informa d'espais WIFI de tota la província de Tarragona.
			Gràcies a aquesta aplicació podrem trobar, juntament amb una petita ressenya descriptiva i la localització sobre el mapa,
			punts d'accés per accedir a la xarxa Internet i connectar-nos amb el nostre ordinador portàtil o dispositiu mòbil d'última generació.
			</p>
			<div class="latestItems">
			  <h3>Últimes notícies, nous punts wifi i novetats</h3>
			  <ul class="news">
			      {% for article in latestNews %}
				<li><a href="/news/{{article.id}}" title="{{article.title}} publicada el {{article.date}}">{{article.title}}</a></li>
			      {% endfor %}
			  </ul>
			  <ul class="hotspots">
			      {% for hotspot in latestHotspots %}
				<li><a href="/hotspots/{{hotspot.id}}" title="Detall del punt: {{hotspot.name}}">{{hotspot.name}}</a></li>
			      {% endfor %}
			  </ul>
			</div>
		{% endif %}
		</div>
		<div id="mapbox">

		</div>
	</div>
<script></script>
{% endblock %}
	
