div#articlebox{
	width: 60%;
	min-height: 450px
	height:auto!important;
	height: 450px;
	z-index: 5;
	position:relative;
	float: left;
	overflow: auto;				
	-moz-box-shadow: 10px 10px 8px 0px #888888;
	-webkit-box-shadow: 10px 10px 8px 0px #888888;
	box-shadow: 10px 10px 8px 0px #888888; 

}
div#mapbox{
	width: 40%;
	height: 390px;
	position:relative;
	float: right;
	overflow: auto;
}
div#articlebox div{
	padding: 10px;
}
div#articlebox div#text{
	text-align:justify;
}
div#articlebox div.ads{
	text-align: center;
}
div#articlebox div#lat-long{
	visibility: hidden;
}
div#articlebox div#font{
	font-size: 0.8em;
}
span.date {
  font-style:italic;
  font-size: 0.8em;
}
span.author {
  font-style:italic;
}
div.ads{
	clear: right;
	position:relative;
	float:right;
}
/* Overlay */
.yui3-js-enabled .yui3-overlay-loading {
    top:-1000em;
    left:-1000em;
    position:absolute;
}

/* Overlay Look/Feel */
div#detailbox div.yui3-overlay-content {
    /*padding:2px;*/
  /*  -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px #888888;
    */
}

div#detailbox div.yui3-overlay-content div.yui3-widget-hd {
    padding:5px;
    background-color:#fff;
    font-weight: bold;
}

div#detailbox div.yui3-overlay-content div.yui3-widget-bd {
    padding:5px;
    background-color:#fff;
    text-align: justify;
    padding-left: 1em;
    padding-right: 2em;
}

div#detailbox div.yui3-overlay-content div.yui3-widget-ft {
    padding:5px;
    background-color:#fff;
}
@media only screen and (max-device-width: 480px) {

	div#mapbox{
		float: left;
		clear: both;
		position: relative;
		width: 100%;
	}
	div#articlebox{
		float: left;
		clear: both;
		width: 100%;
		height: 100%;
		position: relative;
	}

}