body {
	/*font-family: Tahoma, Helvetica, Arial, Sans-Serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
}
div#header {
	position:relative;
	float:left;
	width: 100%;
	background-image:url('/img/tira.header.jpg');
	height: 150px;
}

div#header h1{
	font-size: 50px ;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 3px 3px #0F0F0F;/*, 1px 1px #FFF;*/
}
div#logo{
	position:absolute;
	top:0;
	right: 0;
}
div#logo img {
	height: 150px;
}
div#menu{
	clear: both;
}
div#content{
    width: 100%;
}

div#footer{
	clear: both;
}
/*MENU BEGIN*/
div.text_menu{
	position:absolute;
	bottom: 0;
	background-color:rgba(0,0,0,0.5);
	width: 85%;
	text-shadow:#000 0px 1px 0, #fff 0 -1px 0;
	border-top-right-radius: 20px;
}
ul.menu{

	list-style:none;
	margin: 0;
	padding: 0;
}
ul.menu li {
	margin: 2px 2px 2px 2em;
	padding: 2px;
	float:left;
}
ul.menu li a {
	font-weight:bold; 
	color:#FFFFFF; 
	display: block;
	text-decoration:none;
}
ul.menu li.home {
	margin-left:2px;
}
ul.menu li.selected {
	color:#FFFFFF;
	background-color:#000000;
}
ul.menu li:hover {
	color:#FFFFFF;
	background-color:#000000;
}		
ul.menu li.about{
	float:right;
	margin-right: 20px;
}
/*MENU END*/
div#results.list {
	margin-left: 3em;
}
ul.hotspots{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ul.hotspots li{
	background-image: url(/img/pin-logo.png);
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	padding-left: 40px; 
	height: 40px;
	padding-top: 10px;
}
ul.hotspots li a:link{
	text-decoration: none;
	color: #000000;
}
ul.hotspots li a:active{
	text-decoration: none;
	color: #000000;
}
ul.hotspots li a:visited{
	text-decoration: none;
	color: #000000;
}
ul.news{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ul.news li{
	background-image: url(/img/news.png);
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	padding-left: 40px; 
	height: 40px;
	padding-top: 10px;
}
ul.news li a:link{
	text-decoration: none;
	color: #000000;
}
ul.news li a:active{
	text-decoration: none;
	color: #000000;
}
ul.news li a:visited{
	text-decoration: none;
	color: #000000;
}

div#footer {
	background-color: white;
    float: right;
    font-size: 0.8em;
    position: relative;
    width: 100%;
    z-index: 5;
}
div#footer a{

}
div#footer ul {
  list-style-type: none; /* circle;*/
}
div#footer ul li{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 1.8em;
}
div#footer ul li.rsslink img{
  border: 0px;
}
div#footer ul li.rsslink{
  padding-top: 0px; padding-bottom: 0px;
}
div#footer ul li a span{
  padding: 3px;top:-0.4em;position:relative;
}
div#footer ul span.bold{
  font-weight: bold;
}
div#footer div.links_footer{
  width: 15em;
  position: relative;
  float: left;
 /* margin-left: 3em;*/
}
div#footer div.contact_footer{
  width: 20em;
  position: relative;
  float: left;
  /*margin-left: 3em;*/
}
div#footer div.social_footer{
  width: 20em;
  position: relative;
  /*float: right;*/
  float: left;
  /*margin-left: 3em;*/
}
div.about {
	margin-left: 3em;
	width: 60%;
        text-align: justify;
}
span.searchedterms{
  font-style: italic;
  font-weight: bold;
  color:#808080
}

/*CSS FOR THE QUESTION TO REDIRECT TO MOBILE VERSION*/