div#detailbox{
	width: 50%;
	height: 450px;
	z-index: 5;
	position:relative;
	float: left;	
	-moz-box-shadow: 10px 10px 8px 0px #888888;
	-webkit-box-shadow: 10px 10px 8px 0px #888888;
	box-shadow: 10px 10px 8px 0px #888888; 

}
div#mapbox{
	width: 50%;
	height: 450px;
	
	position:relative;
	float: right;

	overflow: auto;
}
div#detailbox div{
	padding: 10px;
}
div#detailbox div#name{
	font-weight: bold;
}
div#detailbox div#description{
 	clear: both;
	text-align:justify;
}
div#detailbox div#address { 
	font-size: 0.8em;
    font-style: italic;
    position: relative;
}
div#detailbox div#lat-long{
	visibility: hidden;
}
@media only screen and (max-device-width: 480px) {

	div#mapbox{
		float: left;
		clear: both;
		position: relative;
		width: 100%;
	}
	div#detailbox{
		float: left;
		clear: both;
		width: 100%;
		position: relative;
	}

}
