
div#results{
	
}
div#mapbox{
	width: 60%;
	height: 450px;
	position:relative;
	float: right;				

}
div#listbox{
	width: 40%;
	height: 450px;
	z-index: 4;
	position:relative;
	float: left;
	
	-moz-box-shadow: 10px 10px 8px 0px #888888;
	-webkit-box-shadow: 10px 10x 8px 0px #888888;
	box-shadow: 10px 10px 8px 0px #888888; 

	overflow: auto;
}
div#listbox p.initialtext{
	display: none;
	padding: 1.5em;
	text-align: justify;
}
div#listbox div.latestItems{
	padding: 1.5em;
}

div#listbox ul li div.more_info{
	display: none;
}
div#listbox ul li div.social-buttons{
	display: none;
}
div#listbox ul li div.scoring{
	display: none;
}
/* Overlay */
.yui3-js-enabled .yui3-overlay-loading {
    top:-1000em;
    left:-1000em;
    position:absolute;
}

/* Overlay Look/Feel */
div#detailbox div.yui3-overlay-content {

}

div#detailbox div.yui3-overlay-content div.yui3-widget-hd {
    padding:5px;
    background-color:#fff;
    font-weight: bold;
    height: 5em;
}

div#detailbox div.yui3-overlay-content div.yui3-widget-bd {
    clear: both;
    padding:5px;
    background-color:#fff;
    text-align: justify;
    padding-left: 1em;
    padding-right: 2em;
}

div#detailbox div.yui3-overlay-content div.yui3-widget-ft {
    padding:5px;
    background-color:#fff;
}
div#listbox ul li {
	cursor:pointer;
}
/*Loading overlay*/
div#loadingmapbox div.yui3-overlay-content{
    width: 100%;
    height: 100%;
}
div#loadinglistbox div.yui3-overlay-content{
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 480px) {
/* define mobile specific styles come here */
	div#mapbox{
		display:none;
		float: right;
		width: 100%;
	}
	div#listbox{
	    float: right;
		width: 100%;
	}
}
