div#searchbox {
	margin: 1.2em;
	text-align: center;
}
div#searchbox input.searchbox { 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	font-size: 1.5em;
	width: 60%;
	
	background-image:url('/img/viewmag.24.png');
	background-repeat:no-repeat;
	background-position: 0 4px;
	padding-left:24px;
	
}
div#searchbox input.notext {	
	color: #CCCCCC;
	font-style: italic;
}

@media only screen and (max-device-width: 480px) {
/* define mobile specific styles come here */
	div#searchbox {
	    width: 95%;
		text-align: center;
		margin: 0.5em;
	}
	div#searchbox input.searchbox {
		width: 90%;
	}

}