div#detailbox div.scoring{
    left: 300px;
    position: absolute;
    z-index: 10;
}

div#detailbox div.scoring.home{
	top: 2em;
}

div#detailbox div.scoring.home div.thumb{
  width: 65px;
  
} 
div#detailbox div.scoring.home div.thumb span.thumbtext{
   padding-left: 2.8em;
   position: relative;
   top: 0.7em;
}
div.thumb { height: 32px; width: 40px;position: relative; float:left;opacity: 0.5; }
div.thumb:hover { opacity: 1.0;text-shadow: 1px 1px 1px #333;}
div.thumb span.thumbtext{font-size: 0.8em; padding-left: 2em;}
div.thumb.up   { background:url('/img/thumb_up.png');background-repeat: no-repeat; color: green; }
div.thumb.down { background:url('/img/thumb_down.png');background-repeat: no-repeat; color: red; }

@media only screen and (max-device-width: 480px) {
	div#detailbox div.scoring{
	    left: 75%;
		/*position: relative;
		float: right;*/
	}
	div.thumb span.thumbtext{font-size: 0.8em; padding-left: 3.5em;}	
}