div#scrollview-pager{
	font-size: 0.8em;
    left: -1.8em;
    position: relative;
}
div#scrollview-pager.top{
	margin-bottom: 2.5em;
}
div#scrollview-pager.bottom{
	margin-top: 2.5em;
}
span#max_per_page{
	display:none;
}
