.endsocial{
	clear:both;
}
div#articlebox div.article div.fb-like{ 
	top: -9px;
	left: -68px;
}
div.social-buttons.detail{
	left: -2.7em;    
	top: -0.5em;
}
div.social-buttons.article{
	top: -1.4em;
	left: -2.7em;
}
div.social-buttons.detail ul li div.fb-like{
	top: -0.7em;
    left: -4em;
}
div.social-buttons.home ul li div.fb-like{
	left: -4em;
}
div.social-buttons.home{
	left: -2em;
}
div.social-buttons{
  position:relative;
  /*bottom:0.8em;*/
} 

div.social-buttons ul {
  list-style-type: none;
}
div.social-buttons ul li{
   float: left;
}

div.social-buttons span.latafanera{
  font-size: 0.6em;
  border-style: dotted;
  position: relative;
  top: -3px;
  color: #000000;
  padding-right: 6px;
}
div.social-buttons span.latafanera:hover { 
  background-color:#000000;
  color: #FFFFFF;
}
/*
 * When setting the style for several link states, there are some order rules:
 * a:hover MUST come after a:link and a:visited
 * a:active MUST come after a:hover
 */
div.social-buttons span.latafanera a:link{
	text-decoration: none;
	color: #000000;
}
div.social-buttons span.latafanera a:active{
	text-decoration: none;
	color: #000000;
}
div.social-buttons span.latafanera a:visited{
	text-decoration: none;
	color: #000000;
}
div.social-buttons span.latafanera a:hover{
  color: #FFFFFF;
}
@media only screen and (max-device-width: 480px) {
/*	div.social-buttons.detail{
		left: -2.7em;    
		top: -0.5em;
		position: relative;
		float: left;
	}
	div.social-buttons.article{
	    position: relative;
		float: left;
	}*/
	div.social-buttons.detail ul li div.fb-like{
		top: -0.7em;
		left: -0.8em;
	}
}