﻿{% extends "base.html" %}
{%block pagetitle %}{{hotspot.name}}{% endblock %}
{%block htmlhead %}
<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=false"></script>
<script type="text/javascript" src="/js/detail.js"></script>

<link rel="stylesheet" type="text/css" href="/css/detail.css" />

<link rel="stylesheet" type="text/css" href="/css/scoring.css" />
<script type="text/javascript" src="/js/scoring.js" ></script>

{% endblock %}
{% block title %}
	<span id="name">
		{{hotspot.name}}
	</span>
	
{% endblock %}
	
{% block content %}


<div id="results">
		<div id="detailbox">
			<div class="scoring detail" id="scoring">
				  <div title="Plena satisfacció! Pica aquí per donar-li suport" class="thumb up"><span id="score_pos" class="thumbtext">{{score.score_pos}}</span></div>
				  <div title="Fracàs estrepitós! Pica aquí per donar l'avis" class="thumb down"><span id="score_neg" class="thumbtext">{{score.score_neg}}</span></div>
			</div>
		    <div class="social-buttons detail">
			    <ul>
				<li>
				  <a href="https://twitter.com/share" data-url="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}" data-text="{{hotspot.name}} is a hotspot in " data-via="tarragonawifi" data-hashtags="tarragonawifi" data-count="horizontal" data-lang="en" class="twitter-share-button">Tweet</a>
				</li>
				<li>
				  <g:plusone size="medium" annotation="inline" href="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}" width="120"></g:plusone>
				</li>
			    <li>
				  <div class="fb-like" data-href="http://www.tarragonawifi.com/hotspots/{{hotspot.id}}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
				</li>
				</ul>	
		    </div>
			<div id="address" class="endsocial">
				{{hotspot.address}}
			</div>
			<div id="description">
				{{hotspot.description|safe}}
			</div>
			
			<div id="lat-long">
				<span id="lat">{{hotspot.lat}}</span>
				<span id="long">{{hotspot.long}}</span>
				<span id="id">{{hotspot.id}}</span>
			</div>
		</div>
		<div id="mapbox">
		</div>
</div>


{% endblock %}
	
