﻿{% extends "base.html" %}
{%block pagetitle %}Hotspots Search{% endblock %}
{%block htmlhead %}
<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=false"></script>
<link rel="stylesheet" type="text/css" href="/css/inputsearch.css" />
<script type="text/javascript" src="/js/inputsearch.js"></script>
<script type="text/javascript" src="/js/scrollpages.js"></script>
<link rel="stylesheet" type="text/css" href="/css/scrollpages.css" />
<style>
/* To layout horizontal LIs */
#scrollview-content {
    white-space:nowrap;
}

#scrollview-content li.page {
    display:inline-block;
    background-color:#fff;
}

/* For IE 6/7 - needs inline block hack (and the background color mentioned above) */
#scrollview-content li.page {
    *display:inline;
    *zoom:1;
}
#scrollview-content li.page {
	width: 100%;
	vertical-align: top;
}
</style>


{% endblock %}
{% block title %}Llistat de punts d'accés{% endblock %}
	
{% block content %}
	<div id="searchbox">
		<form action="/hotspots/list/" method="GET">
			<input type="text" id="inputsearch" name="q" value="Escriu aquí per buscar..." class="notext searchbox"/>
		</form>
	</div>
	<div id="results" class="list">
		{% if search %}
		Resultats per la cerca <span class="searchedterms">{{search}}</span>
		{% endif %}
		{% if results %}
			<span id="max_per_page">
			{{max_per_page}}
			</span>
			{% regroup results by page as hotspots %}
		    <div id="scrollview-pager" class="top">
        		Pàgina: 
        		{% for page in hotspots %}
        			<button id="topage_{{forloop.counter}}" class="topage" >{{forloop.counter}}</button>
        		{%endfor %}<br />
        		Mostrant elements de <span class="itemFrom">1</span> a <span class="itemTo">{{max_per_page}}</span> de {{results|length}}
    		</div>
			<div id="scrollview-content" class="yui3-scrollview-loading">
			{% for page in hotspots %}
				<li id="page_{{forloop.counter}}" class="page">
					<ul class="hotspots">
			    	{% for hotspot in page.list %}
			        	<li class="item"><a href="/hotspots/{{hotspot.id}}"><b>{{ hotspot.name }}</b> - {{hotspot.address}}</a></li>
			    	{% endfor %}
			    	</ul>
		    	</li>
			{%endfor %}
			</div>			
		    <div id="scrollview-pager" class="bottom">
        		Pàgina: 
        		{% for page in hotspots %}
        			<button id="topage_{{forloop.counter}}" class="topage" >{{forloop.counter}}</button>
        		{%endfor %}<br />
        		Mostrant elements de <span class="itemFrom">1</span> a <span class="itemTo">{{max_per_page}}</span> de {{results|length}}
    		</div>


		{% else %}
		    <p>No results found.</p>
		{% endif %}
	</div>
{% endblock %}
	
