{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<!-- script type="text/javascript" src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script-->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>


<link rel="stylesheet" type="text/css" href="/css/admin/bootstrap-wysihtml5.css"></link>
<script src="/js/admin/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/js/admin/bootstrap-wysihtml5.js"></script>

<script type="text/javascript" src="/js/admin/articleDetail.js"></script>

<!--  link rel="stylesheet" type="text/css" href="/css/admin/rteeditor.css" /-->
{% endblock %}

