{% extends "admin/change_list.html" %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
<!-- script type="text/javascript" src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script-->

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="/js/admin/hotspotList.js"></script>

<style>
	ul.ui-autocomplete{
		list-style-type: none;
		background: white;
	}
	div.autocomplete span.ui-helper-hidden-accessible{
		float: right;
	}

</style>

{% endblock %}

    
