<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Tarragona Wifi - {%block pagetitle %}{% endblock %}</title>
		<script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssgrids/grids-min.css">
		<script type="text/javascript" src="/js/social.js"></script>
		
		<meta name="viewport" content="width=device-width" />
		
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/base.css" />

		
		<link rel="stylesheet" type="text/css" href="/css/social.css" />

		<script type="text/javascript" src="/js/base.js"></script>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-4618577-4']);
		  _gaq.push(['_setDomainName', 'tarragonawifi.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

		{%block htmlhead %}{% endblock %}
	</head>
	<body class="yui3-skin-sam">
	
		<div id="header">
			<h1>Tarragona wifi</h1>
			<div id="logo"><img src="/img/logo.png"></div>
			<div class="text_menu">
		   	{% load menubuilder%}
			 {%menu main%}        
				<ul class="menu">
				<!-- Menu items -->
				{%for item in menuitems%}
					<li class="{{ item.key }} {% if item.current %}selected{% endif %}">
						<a class="" href="{{ item.url}}" >{{ item.title }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>		
		
		
		</div>


		
	<div id="content" class="yui3-u">	
		<h3>{% block title %}{% endblock %}</h3>
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
	<div class="links_footer">
	  <ul><span class="bold">Enllaços</span>
	    <li>
		<a href="/">Cerca geogràfica</a>
	    </li>
	    <li>
		<a href="/hotspots/list">Llistat general</a>
	    </li>
	    <li>
		<a href="/hotspots/list">Cerca per nom</a>
	    </li>
	    <li>
		<a href="/news/list">Actualitat</a>
	    </li>
	    <li>
		<a href="/about">Sobre l'aplicació</a>
	    </li>
	    <li>
		<a href="http://m.tarragonawifi.com">Versió mòbil</a>
	    </li>
	  </ul>
	</div>
	<div class="contact_footer">
	  <ul><span class="bold">Contacte</span>
	    <li>
		<a href="mailto:info@tarragonawifi.com">Contacte</a>
	    </li>
	    <li>
		<a href="https://twitter.com/intent/tweet?screen_name=TarragonaWifi" class="twitter-mention-button" data-related="TarragonaWifi">Tweet to @TarragonaWifi</a>
	    </li>
	    <li class="rsslink">
		<a href="http://www.tarragonawifi.com/hotspots/feed" title="RSS dels punts d'accés"><img src="/img/rss.png" alt="Icona rss" /><span>RSS dels punts d'accés</span></a>
	    </li>
	    <li class="rsslink">
		<a href="http://www.tarragonawifi.com/news/feed" title="RSS dels articles d'actualitat"><img src="/img/rss.png" alt="Icona rss" /><span>RSS dels articles d'actualitat</span></a>
	    </li>
	  </ul>
	</div>
	<div class="social_footer">
	  <ul><span class="bold">Social</span>
	    <li>
		<div class="fb-like" data-href="http://www.facebook.com/tarragonawifi" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	    </li>
	    <li>
		<a href="https://twitter.com/tarragonawifi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TarragonaWifi</a>
	    </li>
	    <li>
		<g:plusone size="small" annotation="inline" href="http://www.tarragonawifi.com"></g:plusone>
	    </li>
	  <ul>
	</div>
	</div>
       </div><!--end dif fb-root-->
	</body>

</html>
